<a href="https://colab.research.google.com/github/aravind-chilakamarri/CS5001-Fundamentals-of-Data-Engineering/blob/main/project_4_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#You will learn:

1. How to merge two pandas dataframes into one.
2. How to split a column into two columns.
3. How to merge two columns into one column.
4. How to export the transformed dataframe into a CSV file.

In [17]:
# install requirement
#!pip install pandas
!pip install faker

Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (19.6.2)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [125]:
# function to create a dataframe with fake data columns
from random import randint
import pandas as pd
from faker import Faker

fake = Faker('en_US')

def input_data(x):
    Faker.seed(randint(1,100))
    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i,'id']= randint(1, 100)
        data.loc[i,'name']= fake.name()
        data.loc[i,'address']= fake.address()
        data.loc[i,'latitude']= str(fake.latitude())
        data.loc[i,'longitude']= str(fake.longitude())
    return data

In [126]:
pd1 = input_data(10)
pd1['id'] = pd1['id'].astype(int)
print(pd1.to_string())

   id                 name                                               address     latitude    longitude
0  49  Mr. Mark Sanchez MD                      Unit 1853 Box 8125\nDPO AE 46050    -4.278186   -60.608384
1  68       William Murphy       119 Leon Row Suite 035\nLaurenchester, UT 14367   -36.024980    57.678795
2  93      Michael Stevens              916 Melissa Road\nSimmonshaven, GU 70208  -56.4162665    88.112394
3  74         Kellie Davis       50967 Francis Ports\nPort Derrickfurt, AS 32711     0.177749  -162.012827
4  54      Amber Dickerson          679 Tate Lock Suite 161\nBretttown, CA 58637   89.2908285   163.285301
5  29      Elizabeth Wyatt      42631 Alex Curve Apt. 204\nAlfredhaven, AR 32088    65.454644   -14.661556
6  72        Alyssa Snyder           08945 Nguyen Drive\nMitchellville, MD 50230   -21.438774    96.259643
7  63         Ariana Jones  4493 Guerra Ports Apt. 343\nNew Tyronebury, DE 91700   -15.780316    23.962388
8  59       Monique Castro                637 Todd Causeway\nTroyburgh, GA 44371    46.128429   -74.209438
9  51        Corey Vasquez     881 Rachael Knolls Apt. 313\nNorth Jane, NV 16262   -20.924230    87.565738

In [127]:
pd2 = input_data(10)
pd2['id'] = pd2['id'].astype(int)
print(pd2.to_string())

   id               name                                                       address     latitude    longitude
0  21       Terry Foster           02651 Gamble Knolls Suite 280\nZavalafort, NV 42160   -24.630875     6.063688
1  93    Teresa Mcintyre                              PSC 5020, Box 1783\nAPO AA 09430  -54.0544945   136.170531
2  87         Terri Nash  3669 Joshua Parkways Suite 966\nLake Brookeborough, UT 61580   -6.0670755   -61.331310
3  90    Victor Anderson               0722 Aaron Mount Suite 020\nGrantland, NY 35780   -32.190542  -108.669363
4  84     Bruce Peterson                     541 Cheryl Estate\nMercadoburgh, GU 43889   84.4668355  -106.442099
5  74       Amanda Mason       6203 Roberto Springs Apt. 487\nLake Andreland, TX 19807   73.1915495   -52.378772
6  10   Robert Hernandez                  84566 Anderson Village\nPaulamouth, OH 60025  -70.0344325  -105.164006
7  68  Dr. Brian Vasquez                   7462 Alexandra Ports\nGordonburgh, ND 73846  -68.0334175  -102.204368
8  26   Dorothy Browning                     22346 Lucas Roads\nHardinghaven, LA 14211    11.794722   -46.600235
9  75         Tammy Hall                                       USNS Reed\nFPO AE 01632   -19.410878   -90.206133

In [128]:
# Merge df1 and df2 into another dataframe df3
# then print df3
frames = [pd1, pd2]
df3 = pd.concat(frames)
print(len(df3))
print(df3.to_string())

20
   id                 name                                                       address     latitude    longitude
0  49  Mr. Mark Sanchez MD                              Unit 1853 Box 8125\nDPO AE 46050    -4.278186   -60.608384
1  68       William Murphy               119 Leon Row Suite 035\nLaurenchester, UT 14367   -36.024980    57.678795
2  93      Michael Stevens                      916 Melissa Road\nSimmonshaven, GU 70208  -56.4162665    88.112394
3  74         Kellie Davis               50967 Francis Ports\nPort Derrickfurt, AS 32711     0.177749  -162.012827
4  54      Amber Dickerson                  679 Tate Lock Suite 161\nBretttown, CA 58637   89.2908285   163.285301
5  29      Elizabeth Wyatt              42631 Alex Curve Apt. 204\nAlfredhaven, AR 32088    65.454644   -14.661556
6  72        Alyssa Snyder                   08945 Nguyen Drive\nMitchellville, MD 50230   -21.438774    96.259643
7  63         Ariana Jones          4493 Guerra Ports Apt. 343\nNew Tyronebury, DE 91700   -15.780316    23.962388
8  59       Monique Castro                        637 Todd Causeway\nTroyburgh, GA 44371    46.128429   -74.209438
9  51        Corey Vasquez             881 Rachael Knolls Apt. 313\nNorth Jane, NV 16262   -20.924230    87.565738
0  21         Terry Foster           02651 Gamble Knolls Suite 280\nZavalafort, NV 42160   -24.630875     6.063688
1  93      Teresa Mcintyre                              PSC 5020, Box 1783\nAPO AA 09430  -54.0544945   136.170531
2  87           Terri Nash  3669 Joshua Parkways Suite 966\nLake Brookeborough, UT 61580   -6.0670755   -61.331310
3  90      Victor Anderson               0722 Aaron Mount Suite 020\nGrantland, NY 35780   -32.190542  -108.669363
4  84       Bruce Peterson                     541 Cheryl Estate\nMercadoburgh, GU 43889   84.4668355  -106.442099
5  74         Amanda Mason       6203 Roberto Springs Apt. 487\nLake Andreland, TX 19807   73.1915495   -52.378772
6  10     Robert Hernandez                  84566 Anderson Village\nPaulamouth, OH 60025  -70.0344325  -105.164006
7  68    Dr. Brian Vasquez                   7462 Alexandra Ports\nGordonburgh, ND 73846  -68.0334175  -102.204368
8  26     Dorothy Browning                     22346 Lucas Roads\nHardinghaven, LA 14211    11.794722   -46.600235
9  75           Tammy Hall                                       USNS Reed\nFPO AE 01632   -19.410878   -90.206133

In [129]:
# Sort df3 with respect id in ascending order
# then print df3
df3 = df3.sort_values(by=['id'])
print(df3.to_string())

   id                 name                                                       address     latitude    longitude
6  10     Robert Hernandez                  84566 Anderson Village\nPaulamouth, OH 60025  -70.0344325  -105.164006
0  21         Terry Foster           02651 Gamble Knolls Suite 280\nZavalafort, NV 42160   -24.630875     6.063688
8  26     Dorothy Browning                     22346 Lucas Roads\nHardinghaven, LA 14211    11.794722   -46.600235
5  29      Elizabeth Wyatt              42631 Alex Curve Apt. 204\nAlfredhaven, AR 32088    65.454644   -14.661556
0  49  Mr. Mark Sanchez MD                              Unit 1853 Box 8125\nDPO AE 46050    -4.278186   -60.608384
9  51        Corey Vasquez             881 Rachael Knolls Apt. 313\nNorth Jane, NV 16262   -20.924230    87.565738
4  54      Amber Dickerson                  679 Tate Lock Suite 161\nBretttown, CA 58637   89.2908285   163.285301
8  59       Monique Castro                        637 Todd Causeway\nTroyburgh, GA 44371    46.128429   -74.209438
7  63         Ariana Jones          4493 Guerra Ports Apt. 343\nNew Tyronebury, DE 91700   -15.780316    23.962388
1  68       William Murphy               119 Leon Row Suite 035\nLaurenchester, UT 14367   -36.024980    57.678795
7  68    Dr. Brian Vasquez                   7462 Alexandra Ports\nGordonburgh, ND 73846  -68.0334175  -102.204368
6  72        Alyssa Snyder                   08945 Nguyen Drive\nMitchellville, MD 50230   -21.438774    96.259643
3  74         Kellie Davis               50967 Francis Ports\nPort Derrickfurt, AS 32711     0.177749  -162.012827
5  74         Amanda Mason       6203 Roberto Springs Apt. 487\nLake Andreland, TX 19807   73.1915495   -52.378772
9  75           Tammy Hall                                       USNS Reed\nFPO AE 01632   -19.410878   -90.206133
4  84       Bruce Peterson                     541 Cheryl Estate\nMercadoburgh, GU 43889   84.4668355  -106.442099
2  87           Terri Nash  3669 Joshua Parkways Suite 966\nLake Brookeborough, UT 61580   -6.0670755   -61.331310
3  90      Victor Anderson               0722 Aaron Mount Suite 020\nGrantland, NY 35780   -32.190542  -108.669363
2  93      Michael Stevens                      916 Melissa Road\nSimmonshaven, GU 70208  -56.4162665    88.112394
1  93      Teresa Mcintyre                              PSC 5020, Box 1783\nAPO AA 09430  -54.0544945   136.170531

In [130]:
# Split name column into two columns fname and lname
# make sure to remove name column after that
# then print df3

def split_names(name):
  suffixes = ["Mr.", "Mrs.", "Ms.", "Dr.", "Jr.", "Sr.", "II", "III", "IV", "Esq.", "Ph.D.", "M.D.", "DVM", "DDS", "MBA", "RN", "CP", "JD", "MD"]
  for each in name.split():
    if each in suffixes:
      name = ' '.join(list(map(lambda x: x.replace(each, ''), name.split())))
  return name
df3['name'] = df3["name"].apply(split_names)
df3['fname'] = df3["name"].str.split().str[:-1].str[0]
df3['lname'] = df3["name"].str.split().str[-1]
del df3['name']

print(df3.to_string())

   id                                                       address     latitude    longitude      fname      lname
6  10                  84566 Anderson Village\nPaulamouth, OH 60025  -70.0344325  -105.164006     Robert  Hernandez
0  21           02651 Gamble Knolls Suite 280\nZavalafort, NV 42160   -24.630875     6.063688      Terry     Foster
8  26                     22346 Lucas Roads\nHardinghaven, LA 14211    11.794722   -46.600235    Dorothy   Browning
5  29              42631 Alex Curve Apt. 204\nAlfredhaven, AR 32088    65.454644   -14.661556  Elizabeth      Wyatt
0  49                              Unit 1853 Box 8125\nDPO AE 46050    -4.278186   -60.608384       Mark    Sanchez
9  51             881 Rachael Knolls Apt. 313\nNorth Jane, NV 16262   -20.924230    87.565738      Corey    Vasquez
4  54                  679 Tate Lock Suite 161\nBretttown, CA 58637   89.2908285   163.285301      Amber  Dickerson
8  59                        637 Todd Causeway\nTroyburgh, GA 44371    46.128429   -74.209438    Monique     Castro
7  63          4493 Guerra Ports Apt. 343\nNew Tyronebury, DE 91700   -15.780316    23.962388     Ariana      Jones
1  68               119 Leon Row Suite 035\nLaurenchester, UT 14367   -36.024980    57.678795    William     Murphy
7  68                   7462 Alexandra Ports\nGordonburgh, ND 73846  -68.0334175  -102.204368      Brian    Vasquez
6  72                   08945 Nguyen Drive\nMitchellville, MD 50230   -21.438774    96.259643     Alyssa     Snyder
3  74               50967 Francis Ports\nPort Derrickfurt, AS 32711     0.177749  -162.012827     Kellie      Davis
5  74       6203 Roberto Springs Apt. 487\nLake Andreland, TX 19807   73.1915495   -52.378772     Amanda      Mason
9  75                                       USNS Reed\nFPO AE 01632   -19.410878   -90.206133      Tammy       Hall
4  84                     541 Cheryl Estate\nMercadoburgh, GU 43889   84.4668355  -106.442099      Bruce   Peterson
2  87  3669 Joshua Parkways Suite 966\nLake Brookeborough, UT 61580   -6.0670755   -61.331310      Terri       Nash
3  90               0722 Aaron Mount Suite 020\nGrantland, NY 35780   -32.190542  -108.669363     Victor   Anderson
2  93                      916 Melissa Road\nSimmonshaven, GU 70208  -56.4162665    88.112394    Michael    Stevens
1  93                              PSC 5020, Box 1783\nAPO AA 09430  -54.0544945   136.170531     Teresa   Mcintyre

In [131]:
# Merge latitude and longitude columns into location column
# in <latitude>, <longitude> format
# make sure to remove latitude and longitude columns after that
# then print df3
# df3 has columns including id, fname, lname, address and location now

df3['location'] = df3['latitude'] + ' , ' + df3['longitude']
del df3['latitude']
del df3['longitude']
print(df3.to_string())

   id                                                       address      fname      lname                   location
6  10                  84566 Anderson Village\nPaulamouth, OH 60025     Robert  Hernandez  -70.0344325 , -105.164006
0  21           02651 Gamble Knolls Suite 280\nZavalafort, NV 42160      Terry     Foster      -24.630875 , 6.063688
8  26                     22346 Lucas Roads\nHardinghaven, LA 14211    Dorothy   Browning     11.794722 , -46.600235
5  29              42631 Alex Curve Apt. 204\nAlfredhaven, AR 32088  Elizabeth      Wyatt     65.454644 , -14.661556
0  49                              Unit 1853 Box 8125\nDPO AE 46050       Mark    Sanchez     -4.278186 , -60.608384
9  51             881 Rachael Knolls Apt. 313\nNorth Jane, NV 16262      Corey    Vasquez     -20.924230 , 87.565738
4  54                  679 Tate Lock Suite 161\nBretttown, CA 58637      Amber  Dickerson    89.2908285 , 163.285301
8  59                        637 Todd Causeway\nTroyburgh, GA 44371    Monique     Castro     46.128429 , -74.209438
7  63          4493 Guerra Ports Apt. 343\nNew Tyronebury, DE 91700     Ariana      Jones     -15.780316 , 23.962388
1  68               119 Leon Row Suite 035\nLaurenchester, UT 14367    William     Murphy     -36.024980 , 57.678795
7  68                   7462 Alexandra Ports\nGordonburgh, ND 73846      Brian    Vasquez  -68.0334175 , -102.204368
6  72                   08945 Nguyen Drive\nMitchellville, MD 50230     Alyssa     Snyder     -21.438774 , 96.259643
3  74               50967 Francis Ports\nPort Derrickfurt, AS 32711     Kellie      Davis     0.177749 , -162.012827
5  74       6203 Roberto Springs Apt. 487\nLake Andreland, TX 19807     Amanda      Mason    73.1915495 , -52.378772
9  75                                       USNS Reed\nFPO AE 01632      Tammy       Hall    -19.410878 , -90.206133
4  84                     541 Cheryl Estate\nMercadoburgh, GU 43889      Bruce   Peterson   84.4668355 , -106.442099
2  87  3669 Joshua Parkways Suite 966\nLake Brookeborough, UT 61580      Terri       Nash    -6.0670755 , -61.331310
3  90               0722 Aaron Mount Suite 020\nGrantland, NY 35780     Victor   Anderson   -32.190542 , -108.669363
2  93                      916 Melissa Road\nSimmonshaven, GU 70208    Michael    Stevens    -56.4162665 , 88.112394
1  93                              PSC 5020, Box 1783\nAPO AA 09430     Teresa   Mcintyre   -54.0544945 , 136.170531

In [132]:
# write df3 to a CSV file named output_data.csv
df3.to_csv('output_data.csv', index=False)

After completing it. Re-run your notebook. Download .ipynb file. Submit it to Canvas for grading.